name: Deploy Cloud Resume

on:
  push:
    branches: [ "main" ]


permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    # ---------- TERRAFORM ----------

    - name: Detect Terraform changes
      id: changes
      uses: dorny/paths-filter@v3
      with:
        filters: |
          terraform:
            - 'terraform/**'

    - name: Setup Terraform
      if: steps.changes.outputs.terraform == 'true'
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      if: steps.changes.outputs.terraform == 'true'
      working-directory: terraform
      run: terraform init

    - name: Terraform Apply
      if: steps.changes.outputs.terraform == 'true'
      working-directory: terraform
      run: terraform apply -auto-approve -var="storage_account_name=tfcloudresume"


    # ---------- SITE ----------
    - name: Upload site to Azure Storage
      run: |
        az storage blob upload-batch \
          --account-name tfcloudresume \
          --destination '$web' \
          --source site \
          --overwrite

    # ---------- FUNCTIONS ----------
    - name: Deploy Azure Functions
      working-directory: api
      run: |
        func azure functionapp publish func-cloud-resume
